/* .header{
  border-bottom: 1px solid #E2E8F0;
} */

.navbar {
  position: relative;
  z-index: 999;
  display: flex;    
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: rgb(243, 244, 246);
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  /* height: 10vh; */
  position: fixed;
  top: 0;
  width: 100%;
 
}

/* .hamburger {
  display: none;
} */

.bar{
  display: block;
  width: 35px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000;
}

.navmenu {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navitem {
  margin-left: 0.6rem;
 
}

.navlink{
  font-size: 2rem;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  font-size:smaller
}

.navlink:hover{
  color: #482ff7;
}

.navlogo {
  font-size: 2.1rem;
  font-weight: 500;
  color: rgb(56, 12, 12);
}

