@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./styles/colors-social.css");

:root {
  --primary-color: rgb(205, 34, 41);
}

p a:link {color: var(--primary-color);}
p a:visited {color: var(--primary-color);}
/* a:focus, a:hover {…}
a:active {….}  */

html {
  overflow-y: scroll;
  font-family: var(--my-font-family), sans-serif;

  cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAATCAMAAAB4HKeYAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAADRJREFUeAFjwAsYsfMYQYgRLsLICKWhskxMTDAmCEMAwhQmEEDho8szUiqPaR+xfIR7sQMAR6QAjICqvMYAAAAASUVORK5CYII=),auto;

}

::selection {
  background: var(--primary-color);
  color: #fff;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

/*Menu Start*/
.menu-overlay {
  position: fixed;
}
.menu-bar, .menu-overlay {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2em;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.menu-bar a,
.menu-open p {
  /* color: #000; */
  color: #000;
  cursor: pointer;
}

.menu-close p {
  color: #000;
  cursor: pointer;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 2em;
  background: var(--primary-color);
  /* background: #c5fb45; */
  z-index: 2;
  /* display: flex; */
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.menu-close-icon {
  /* flex: 2;
  display: flex;
  align-items: flex-end; */
  cursor: pointer;
}

.menu-copy {
  /* flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between; */
  padding-top: 2em;
}

/* .menu-preview {
  flex: 4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
} */

.menu-close-icon p {
  font-size: 100px;
  -webkit-text-stroke: 3px var(--primary-color);
  line-height: 70%;
}

.menu-close-icon p:hover {color: #fff;}

.menu-link-item {
  width: max-content;
  clip-path: polygon(0 0,  100% 0, 100% 100%, 0 100%);
}

.menu-link-item-holder {
  position: relative;
}

.menu-link-item-holder a {
  color: #000;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 85%;
}

.menu-link-item-holder a:hover {
  color: #fff;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 85%;
}

/* .menu-info {
  display: flex;
} */

/* .menu-info-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
} */


/* FLIP LINK */

a.flipanimate {
  perspective: 1000px;
}
a.flipanimate span {
  position: relative;
  display: inline-block;
  padding: 0;
  transition: transform 0.3s;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
}
a.flipanimate span:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  content: attr(data-hover);
  transition: color 0.3s;
  transform: rotateX(-90deg);
  transform-origin: 50% 0;
  text-align: center;
}
a.flipanimate:hover span, a.flipanimate:focus span {
  transform: rotateX(90deg) translateY(-22px);
}
a.flipanimate:hover span:before, a.flipanimate:focus span:before {
  color: #fff;
}

/* @media (max-width: 900px) {
  .menu-close-icon {
    display: none;
  }

  .memnu-copy {
    padding-top: 8em;
  }

  .menu-link-item-holder a  {
    font-size: 60px;
  }
} */

/*Menu End*/

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
