@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./styles/colors-social.css");

.dark {background: #000;}

:root {
  --primary-color: rgb(205, 34, 41);
}

p a:link {color: var(--primary-color);}
p a:visited {color: var(--primary-color);}
/* a:focus, a:hover {…}
a:active {….}  */

html {
  overflow-y: scroll;
  font-family: var(--my-font-family), sans-serif;

  cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAATCAMAAAB4HKeYAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAADRJREFUeAFjwAsYsfMYQYgRLsLICKWhskxMTDAmCEMAwhQmEEDho8szUiqPaR+xfIR7sQMAR6QAjICqvMYAAAAASUVORK5CYII=),auto;

}

/* BACKGROUND ANIMATION */
/* body {
  height: 100vh;
  width: 100%;
  
  background: radial-gradient(circle, #ffffff, #dddddd, #c5c5c5, #ffffff);
  background-size: 600% 600%;
  animation: color 12s ease-in-out infinite;
}

@keyframes color {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  0%{
    background-position: 0 50%;
  }
} */

/* TEXT SELECT */
::selection {
  background: var(--primary-color);
  color: #fff;
}

/* TOOLTIPS */
.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

/*Menu Start*/

nav svg:hover {
  cursor: pointer;
}

.menu-overlay {
  position: fixed;
}
.menu-bar, .menu-overlay {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1em;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.menu-bar a,
.menu-open p {
  /* color: #000; */
  /* color: #000; */
  cursor: pointer;
}

.menu-close p {
  color: #000;
  cursor: pointer;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 2em;
  background: var(--primary-color);
  /* background: #c5fb45; */
  z-index: 2;
  /* display: flex; */
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.menu-close-icon {
  /* flex: 2;
  display: flex;
  align-items: flex-end; */
  cursor: pointer;
}

.menu-copy {
  /* flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between; */
  padding-top: 2em;
}

/* .menu-preview {
  flex: 4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
} */

.menu-close-icon p {
  font-size: 100px;
  -webkit-text-stroke: 3px var(--primary-color);
  line-height: 70%;
}

.menu-close-icon p:hover {color: #fff;}

.menu-link-item {
  width: max-content;
  clip-path: polygon(0 0,  100% 0, 100% 100%, 0 100%);
}

.menu-link-item-holder {
  position: relative;
}

.menu-link-item-holder a {
  color: #000;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 85%;
}

.menu-link-item-holder a:hover {
  color: #fff;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 85%;
}

/* .menu-info {
  display: flex;
} */

/* .menu-info-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
} */


/* FLIP LINK */

a.flipanimate {
  perspective: 1000px;
}
a.flipanimate span {
  position: relative;
  display: inline-block;
  padding: 0;
  transition: transform 0.3s;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
}
a.flipanimate span:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  content: attr(data-hover);
  transition: color 0.3s;
  transform: rotateX(-90deg);
  transform-origin: 50% 0;
  text-align: center;
}
a.flipanimate:hover span, a.flipanimate:focus span {
  transform: rotateX(90deg) translateY(-22px);
}
a.flipanimate:hover span:before, a.flipanimate:focus span:before {
  color: #fff;
}

/* DESKTOP EDITS FLIP LINK */
nav a.flipanimate:hover span:before, nav a.flipanimate:focus span:before {color: var(--primary-color);}
nav .grid.no-underline.uppercase.hover\:text-white.duration-300.py-2.border-primary.text-white.text-center {color: var(--primary-color);}


/* SCROLL BAR */
/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--primary-color); 
  -webkit-box-shadow: inset 0 0 6px var(--primary-color); 
}
::-webkit-scrollbar-thumb:window-inactive {
background: var(--primary-color); 
}

@media (max-width: 450px) {
  .menu-link-item-holder a {
    color: #fff;
    font-size: 50px;
  }

  .menu-link-item-holder a:hover {
    color: #fff;
    font-size: 50px;
  }
}

/* @media (max-width: 900px) {
  .menu-close-icon {
    display: none;
  }

  .memnu-copy {
    padding-top: 8em;
  }

  .menu-link-item-holder a  {
    font-size: 60px;
  }
} */

/*Menu End*/

