@import 'variables';

.container {
    // padding: 0 2rem;

    input, textarea {
        margin: 1rem;
    }

    button:hover {

    }

    h1 {
        color: inherit;
        ;
    }

    a {
        color: $color-secondary;
    }

}

