@import "variables";

.footer {
  // display: flex;
  // flex: 1;
  padding: 1rem;
  // border-top: 1px solid #eaeaea;
  // justify-content: flex-end;
  // align-items: flex-end;
  // position: absolute;
  // bottom: 0;
  display: block;
  width: 100%;
  text-align: left;
}

// .footer a {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-grow: 1;
//   color: $color-primary;

//   &:hover {
//     color: $color-primary;
//   }
// }

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

// @media (max-width: 480px) {
//   .footer {
//     position: fixed;
//     bottom: 0;
//   }
// }
