// @import url(https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css);



@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import 'variables';
@import 'breakpoints';

$body-bg: #f3f3f0;
html,
body {
  color: #fff;
  padding: 0;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font: normal 18px/30px Arial, san-serif;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: white;
  }
}

p {
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  padding: 0.6rem;
  font-size: 2vh;;
}

h1 {
  // color: $color-primary;
  background: $color-secondary;
  font-size: rem;
  // padding-left: 2rem;
}

.btn {
  background: $color-primary;
}

::-moz-selection { /* Code for Firefox */
  color: $color-primary;
  background: #e5e3e3;
}

::selection {
  color: $color-primary;
  background: #e5e3e3;
}

// .container {
//   height: 80vh;
// }

// .grid-home {
//   display: grid;
//   grid-template-columns: repeat(12,1fr);

//   // div:first-child {
//   //   grid-column-start: 1;
//   //   grid-column-end: 3;
//   // }
// }

// .grid-home > div {
//   grid-column: 2/span 10;
// }

// Background Image
.bg-image {
  background: url('/photo1.jpg') top right no-repeat;
  background-size: contain;
  // height: 100vh;
  padding: 0;
}

// .container {
//   padding: 0 0.3rem;
// }

// EXTRA
// #__next a {
//   color: $color-secondary;

//   &:hover {
//     color: $color-primary;
//   }
// }

.navigation-bar {
  width: 100%;
  /* i'm assuming full width */
  height: 80px;
  /* change it to desired width */
  background-color: transparent;
  /* change to desired color */
}

.logo {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  // margin-left: 20px;
  margin-top: 15px;
  margin-left: 15px;
  /* if you want it vertically middle of the navbar. */
}

.navigation-bar ul {
  display: inline;
  padding: 0;
}

.navigation-bar ul li>a {
  display: inline;
  vertical-align: top;
  margin-right: 20px;
  height: 80px;
  /* if you want it to take the full height of the bar */
  line-height: 80px;
  /* if you want it vertically middle of the navbar */
}

// END Extra

ul {
  padding: 0.3rem 0 0;
  margin: 0;
}

nav ul li {
  display: inline;
  padding: 1rem 0.6rem 1rem;
}

nav ul li:first-child,
nav ul li:last-child {
  padding-left: 0;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  // body {
  //   color: white;
  //   background: url('/bg-main.jpg') repeat-x;
  // }
}

