@import 'variables';

.navbar {
    // width: 100%;
    height: 4rem;
}

.links {
    background: transparent;

    ul {
        display: inline-flex;
    }

    a {
        color: white;

        &:hover {
                 color: $color-primary;
            }
    }
}