@import 'variables';

.navbar {
    // width: 100%;
    height: 4rem;
}

.links {
    background: transparent;

    ul {
        display: inline-flex;
        margin-left: 0.2rem;
    }

    a {
        color: $color-secondary;

        &:hover {
                 color: $color-primary;
            }
    }
}