// Social Icon Colors

.icons svg {font-size: 1.5rem;margin: 0 0.2rem;}
.icons .html5 {color:rgb(228,	77,	38);}
.icons .css3 {color:rgb(0, 109,186);}
.icons .sass {color:rgb(191, 64, 128);}
.icons .tailwind {color:rgb(56, 189, 248);}
.icons .js {color:rgb(233, 202, 50);}
.icons .react {color:rgb(20, 158, 202	);}
.icons .figma {color: rgb(142, 87, 251);}